.bg-main {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.centeringElement {
    display: grid;
    place-items: center;
    height: 100vh;
}

.ohmCircle {
    animation: ohmCircle 8s forwards;
}

.ohmsymbol {
    width: 40%;
    position: absolute;
    top: 30%;
    right: 30%;
    border-radius: 50%;
}

.animationWrapper {
    width: 20%;
    position: relative;
    animation: faded 8s forwards;
}

.welcomeHands {
    animation: hands 2s forwards;
}

@keyframes ohmCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}

@keyframes hands {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes faded {
    0% {
        opacity: 0.5;
    }

    25% {
        opacity: 0;

    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}